.oac-line{
    margin: 0em 0em 0.2em 1em;
}

.oac-chord-wrapper{
    margin: 0em;
    &:focus{
        border: 1px solid lightgray;
    }
}

.oac-chord-symbol{
    margin: 0em 1em;
    font-weight: bold;

    &:focus{
        outline: none;
    }
}

.oac-lyric-segment{
    margin: 0em 0.3em;
    &:focus{
        outline: none;
    }
}