.oac-line{
    margin: 0em 0em 0.2em 1em;
}

.oac-chord-wrapper{
    margin: 0em;
}

.oac-chord-symbol{
    margin: 0em 1em;
    font-weight: bold;
}

.oac-lyric-segment{
    margin: 0em 0.3em;
    
    &:focus{
        outline: none;
    }
}